config:
  credentials: []
  project_repos:
    github.com/EGI-Federation/eosc-data-transfer:
      branch: main
      repo: https://github.com/EGI-Federation/eosc-data-transfer.git
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EGI-Federation/eosc-data-transfer git:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-gold-stingray.sh
        container: qc.acc_queasy-platinum-cougar
  QC.Doc:
    repos:
      github.com/EGI-Federation/eosc-data-transfer find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-ultramarine-monkey.sh
        container: qc.doc_squeaky-myrtle-akbash
      github.com/EGI-Federation/eosc-data-transfer git:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-orange-blue.sh
        container: qc.doc_wheezy-salmon-whale
      github.com/EGI-Federation/eosc-data-transfer markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.homely-plum-hound.sh
        container: qc.doc_foggy-azure-ibis
  QC.Lic:
    repos:
      github.com/EGI-Federation/eosc-data-transfer licensee:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-puce-whale.sh
        container: qc.lic_gloppy-periwinkle-eagle
  QC.Met:
    repos:
      github.com/EGI-Federation/eosc-data-transfer cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.sleepy-brass-eagle.sh
        container: qc.met_pasty-bistre-gopher
  QC.Sty:
    repos:
      github.com/EGI-Federation/eosc-data-transfer checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-wheat-capuchin.sh
        container: qc.sty_boozy-wisteria-fousek
      github.com/EGI-Federation/eosc-data-transfer hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-coral-dhole.sh
        container: qc.sty_shabby-sepia-gopher
      github.com/EGI-Federation/eosc-data-transfer jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-tan-starfish.sh
        container: qc.sty_surly-violet-dog
  QC.Ver:
    repos:
      github.com/EGI-Federation/eosc-data-transfer get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.muzzy-saffron-raccoon.sh
        container: qc.ver_pokey-teal-lemur
timeout: 5400
